<link rel="stylesheet" href="/css/footer.css"></link>
<footer id="footer-layout">
    <nav>
      <p>&copy; Sahil Khan. All Rights Reserved</p>
      <div class="auth-link">
        <!-- Add any links here if needed -->
      </div>
    </nav>
</footer>
