<link rel="stylesheet" href="/css/header.css"></link>
<header id="header-layout">
    <nav>
        <div class="mini-logo">
            <p>
                <a href="/">
                    ToDo List
                </a>
            </p>
        </div>
        <div class="auth-links">
            <ul>
                <% if (locals.user) { %>
                    <li>
                        <a><%= user.name %></a>
                    </li>
                    <li> 
                        <a href="/users/sign-out">Sign Out</a>
                    </li>
                <%}else {%>
                    <li> 
                        <a href="/users/sign-in">Sign In</a>
                    </li>
                    <li> 
                        <a href="/users/sign-up">Sign Up</a>
                    </li>
        
                <%}%>
            </ul>
        </div>
    </nav>

</header>