<html>
    <head>
        <title>
            <%= title %>
        </title>
    </head>
    <body>
        <%- include('_header'); -%>

            <h1>To Do List / <%= title %></h1>

        <%- include('_footer'); -%>
    </body>
</html>